.beers {
  margin: 3em 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.beers li {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #333333;
}

.beers li img {
  height: 300px;
  width: auto;
}

.beers li {
  text-align: center;
}