.beer {
  margin-top: 3rem;
}

.beer img {
  height: 500px;
  width: auto;
}

.beer .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-container .info {
  width: 60%;
}